body {
  padding: 60px 12px 30px 12px;
}

/*Bootstrap overrides*/

.alert {
  padding: 1px !important;
  margin: 2px !important;
}

.required {
  color: darkred
}

#scoring li, #totals li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  display: none;
}

input#score, input#heat_num {
  width: 40px;
}

#heat-num, #judge-name {
  float: left;
  padding: 0 5px 0 5px;
}


